@charset "UTF-8";
body, html {
    margin: 0;
    padding: 0;
    background-color: #e2e5ee;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

a {
    color: #706fd3;
    text-decoration: none;
}

a:hover {
    color: #7e7a84;
}

.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.black_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
}

.black_overlay .🧠 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: 0;
    width: 400px;
    color: white;
}

.video_wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}

.video_intro {
    height: 100%;
    z-index: -1;
}

.video_intro::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.15);
}

.login_wrapper {
    position: absolute;
    background-color: #e2e5ee;
    min-width: 420px;
    height: 100%;
    right: 0;
    -webkit-box-shadow: -2px 0px 20px #151516bf;
    box-shadow: -2px 0px 20px #151516bf;
}

@media screen and (max-width: 620px) {
    .login_wrapper {
        min-width: 0;
        width: 100%;
    }
    .video_wrapper {
        display: none;
    }
}

.form_wrapper {
    max-width: 420px;
    margin: 0 auto;
}

.form_wrapper--modifier {
    position: fixed;
    left: calc(100% - 16rem);
    top: calc( 100% - 8rem);
    z-index: 666;
}

.logo_form {
    width: 50px;
    height: 50px;
    margin-bottom: 4rem;
}

.form {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 6rem 0;
}

.form h1 {
    text-align: center;
    padding: 2rem;
    color: #474787;
}

.form input, .form select, .form label, .form button, .form option {
    margin: 0.5rem;
    font-size: 1rem;
}

.form input, .form select, .form option {
    padding: 1rem;
    border: none;
    background: none;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 4px 4px 8px #c5c4c4, -4px -4px 8px #ffffff;
    box-shadow: 4px 4px 8px #c5c4c4, -4px -4px 8px #ffffff;
    -webkit-transition: all ease-Out 0.3s;
    transition: all ease-Out 0.3s;
}

.form input:hover, .form select:hover, .form option:hover {
    border: 2px solid #706fd3;
    font-size: 1rem;
}

.form input:focus, .form select:focus, .form option:focus {
    font-size: 1rem;
    background: #706fd3;
    color: white;
    border: 2px solid #706fd3;
    -webkit-box-shadow: 7px 7px 14px #c5c4c4, -7px -7px 14px #ffffff;
    box-shadow: 7px 7px 14px #c5c4c4, -7px -7px 14px #ffffff;
}

.check_box {
    width: 24px;
    height: 24px;
}

.btn {
    margin-top: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    background: #706fd3;
    color: #e2e5ee;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    -webkit-transition: all ease-Out 0.3s;
    transition: all ease-Out 0.3s;
    border-radius: 3px;
}

.btn:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    color: white;
    cursor: pointer;
    background-color: #474787;
    -webkit-box-shadow: 4px 4px 16px #9696d8, -4px -4px 8px #b9b9ec;
    box-shadow: 4px 4px 16px #9696d8, -4px -4px 8px #b9b9ec;
}

.btn--round {
    border-radius: 4rem;
}

.link {
    color: #706fd3;
    padding: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    -webkit-transition: all ease-Out 0.3s;
    transition: all ease-Out 0.3s;
}

.link:hover {
    color: #474787;
}

.nav {
    position: fixed;
    background-color: #eeeff7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 999;
    height: 50%;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 4px 4px 8px #c5c4c4, -4px -4px 8px #ffffff;
    box-shadow: 4px 4px 8px #c5c4c4, -4px -4px 8px #ffffff;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    width: 64px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 2rem;
    border-radius: 4rem;
}

.nav a {
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    color: #706fd3;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1rem;
    margin-top: 16px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.nav a:hover {
    background-color: #c6c6f5;
    border-radius: 50%;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav a svg {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
}

.nav a h4 {
    display: inline-block;
    font-weight: 500;
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .nav {
        height: 6rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        padding: 0;
        background: #e2e5ee;
        width: 100%;
        border-radius: 0;
        left: 0;
        bottom: 0;
        position: fixed;
        margin: 0;
        top: calc(100vh - 9rem);
    }
    .nav a h4 {
        display: none;
    }
}

.container_header {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 2rem 0;
}

.close {
    position: absolute;
    margin: 2rem 2rem 0 0;
    z-index: 99;
    right: 0;
    top: 0;
}

.close svg {
    height: 2rem;
    width: 2rem;
}

.plane_container {
    z-index: 23;
    position: relative;
    width: calc(100% - 4rem);
    left: 4rem;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100vw - 64px);
    padding-top: 5rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #e2e5ee;
}

.show {
    visibility: visible;
}

@media screen and (max-width: 768px) {
    .plane_container {
        width: 100%;
        left: 0;
        margin-left: 0;
    }
}

.plane_item {
    position: relative;
    width: 320px;
    height: 370px;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    -webkit-box-shadow: 4px 4px 8px #c5c4c4, -4px -4px 8px #ffffff;
    box-shadow: 4px 4px 8px #c5c4c4, -4px -4px 8px #ffffff;
    border: 2px solid rgba(0, 0, 0, 0);
    -webkit-transition: all ease-Out 0.3s;
    transition: all ease-Out 0.3s;
}

.plane_item img {
    width: 100%;
}

.plane_item h3 {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 0 0 1rem;
}

.plane_item p {
    padding: 0 0 0 1rem;
}

.plane_item:hover ,
.plane_selected {
    -webkit-box-shadow: 7px 7px 14px #c5c4c4, -7px -7px 14px #ffffff;
    box-shadow: 7px 7px 14px #c5c4c4, -7px -7px 14px #ffffff;
    border: 2px solid #706fd3;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    z-index: 99;
    cursor: pointer;
}

.plane_section {
    width: 100%;
    height: 100%;
}

.table {
    width: 100%;
    padding: 2rem;
    margin: 0 0 6rem 0;
    border-collapse: collapse;
}

.table h1 {
    text-align: center;
    padding: 2rem;
    color: #474787;
}

.table input, .table select, .table label, .table button, .table option {
    margin: 0.5rem;
    font-size: 1rem;
}

.table input, .table select, .table option, .table button {
    padding: 1rem;
    border: none;
    background: none;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 4px 4px 8px #c5c4c4, -4px -4px 8px #ffffff;
    box-shadow: 4px 4px 8px #c5c4c4, -4px -4px 8px #ffffff;
    -webkit-transition: all ease-Out 0.3s;
    transition: all ease-Out 0.3s;
}

.table input:hover, .table select:hover, .table option:hover, .table button:hover {
    border: 2px solid #706fd3;
    font-size: 1rem;
}

.table input:focus, .table select:focus, .table option:focus, .table button:focus {
    font-size: 1rem;
    background: #706fd3;
    color: white;
    border: 2px solid #706fd3;
    -webkit-box-shadow: 7px 7px 14px #c5c4c4, -7px -7px 14px #ffffff;
    box-shadow: 7px 7px 14px #c5c4c4, -7px -7px 14px #ffffff;
}

.table td, .table th {
    padding: 0 1rem;
}

.table tr:nth-child(even) {
    background-color: #eeeff7;
}

.table tr:nth-child(odd) {
    background-color: #e2e5ee;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #474787;
    color: white;
}

.header_wrapper {
    padding: 2rem 0;
}

.header_wrapper h1 {
    color: #474787;
}

.nav_large {
    position: relative;
    width: calc(100% - 2rem);
    -webkit-box-shadow: 0px 7px 20px 0px #00000029;
    box-shadow: 0px 7px 20px 0px #00000029;
    background: #eeeff7;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    z-index: 9;
}

.nav_links {
    font-weight: 600;
}

.logo-main img {
    width: 2rem;
    height: 2rem;
}

.home_hero {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.video_home {
    width: 100%    !important;
    height: auto   !important;
}

@media screen and (max-width: 880px) {
    .video_home {
        width: auto    !important;
        height: 100%   !important;
    }
}

.steps {
    top: -3rem;
    position: relative;
    width: 60%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    border-radius: 4rem;
    text-align: center;
    -webkit-box-shadow: 0px 7px 20px 0px #00000029;
    box-shadow: 0px 7px 20px 0px #00000029;
    -webkit-backdrop-filter: blur(4rem);
    backdrop-filter: blur(4rem);
}

.step_item {
    padding: 1rem 2rem;
    -webkit-backdrop-filter: blur(4rem);
    backdrop-filter: blur(4rem);
}

.step_item h1 {
    color: #474787;
}

@media screen and (max-width: 880px) {
    .steps {
        border-radius: 5px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 320px;
    }
    .steps_item {
        padding: 1rem 2rem;
    }
}

.reserve-flight {
    position: absolute;
    left: 20%;
    top: 20vh;
    width: 60%;
}

.reserve-flight input {
    color: #333;
    font-weight: 900;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    height: 100%;
}

.reserve-flight select {
    color: #333;
    font-weight: 900;
    padding: 1rem;
    margin: 1rem;
    height: 100%;
}

.flight-btn {
    background: none;
    border: none;
    -webkit-backdrop-filter: blur(4rem);
    backdrop-filter: blur(4rem);
    -webkit-box-shadow: 0px 7px 20px 0px #00000029;
    box-shadow: 0px 7px 20px 0px #00000029;
    height: 2rem;
}

.from_to {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.from_arrow {
    padding: 2rem;
}

.flight_info_desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flight_info_desc input {
    width: 100%;
}

.flight_info_desc label {
    margin-top: 1.5rem;
}

.home_flight_selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.home_flight_selection button {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    background: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    -webkit-backdrop-filter: blur(4rem);
    backdrop-filter: blur(4rem);
    -webkit-box-shadow: 0px 7px 20px 0px #00000029;
    box-shadow: 0px 7px 20px 0px #00000029;
    -webkit-transition: all ease-In-Out 0.3s;
    transition: all ease-In-Out 0.3s;
    font-weight: bold;
    color: #333;
}

.home_flight_selection button:hover {
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem 1rem;
}

.home-container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background: white;
}

.home-container p {
    text-align: center;
}

.home_item {
    padding: 3rem 3rem;
    width: 33.3%;
}

.home_item h1 {
    text-align: center;
    padding: 2rem;
}

.home_item img {
    margin: 0 auto;
    width: calc(100% - 0rem);
}

.footer {
    background: #706fd3;
    margin-bottom: -20px;
    position: relative;
    height: 125px;
}

.soc-media {
    padding: 0rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.soc-media li {
    display: inline-block;
    padding: 1rem;
}

.phone {
    position: absolute;
    right: 0;
    padding: 4rem;
    color: white;
    text-align: right;
}

.terms {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.signup_wrapper {
    max-width: 540px;
    margin: 0 auto;
}


/*# sourceMappingURL=main.css.map */