<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/main.css}" href="../static/main.css">
</head>
<body>

    <div class="signup_wrapper">
        <form action="/client" method="POST" class="form">
            <img th:src="@{/img/logo.png}" alt="" class="logo_form">
            <h1>Client profile</h1>

            <input type="hidden" th:field="*{client.clientId}"  name="clientId">

            <label for="userName">Username</label>
            <input th:field="*{client.userName}" name="userName" type="text">

            <label for="email">Email</label>
            <input th:field="*{client.email}" name="email" type="text">

            <label for="password">Password</label>
            <input th:field="*{client.password}" name="password" type="password">

            <label for="phone">Phone</label>
            <input th:field="*{client.phone}" name="phone" type="text">
            <br>
            <button class="btn" type="submit">Update profile</button>
        </form>
    </div>

</body>
</html>