<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>✈ Avio Rent</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/main.css}" href="../static/main.css">
    <link rel="stylesheet" th:href="@{/css/toastr.css}">

</head>
<body>

    <!-- Background Video Section -->
    <div class="video_wrapper">
        <video class="video_intro" autoplay loop muted id="vid">
            <source th:src="@{/video/bg.mp4}" type="video/mp4" >
            Your browser does not support HTML5 video.
        </video>
        <script>
            document.getElementById('vid').play();
        </script>
    </div>
    <div class="black_overlay">
        <h1 class="🧠" id="demo"></h1>
    </div>
    <div class="login_wrapper">
        <form th:action="@{/login}" method="post" class="form">
            <a href="/home">
                <img th:src="@{/img/logo.png}" alt="" class="logo_form">
            </a>
            <h1>Fly Airlines</h1>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
            <br>
            <div class="form-actions">
                <button type="submit" class="btn" style="width: calc(100% - 1rem)">Log in</button>
            </div>
            <a class="link" href="/signup">Sign Up</a>
        </form>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/toastr.js"></script>
    <th:block th:if="${LoginRequired != null}">
        <script>toastr.info("You need to login to create reservation");</script>
    </th:block>
</body>
</html>