<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/main.css}" href="../static/main.css">
    <link rel="stylesheet" th:href="@{/css/toastr.css}">

</head>
<body style="background-color: white; overflow-x: hidden;">
    <nav class="nav_large">
        <a href="#" class="logo-main">
            <img th:src="@{/img/logo.png}" alt="">
        </a>
        <div class="nav_links">
            <div sec:authorize="isAuthenticated()">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="link" href="/admin/rents">Dashboard</a>
                    <a class="link" href="/logout">Sign out</a>
                </div>
                <div sec:authorize="hasRole('ROLE_USER')">
                    <a class="link" href="/allrents">Flight history</a>
                    <a class="link" href="/client">My profile</a>
                    <a class="link" href="/logout">Sign out</a>
                </div>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <a class="link" href="login">Login</a>
                <a class="link" href="signup">Register</a>
            </div>

        </div>
    </nav>
    <div class="home_hero">
        <video class="video_home" id="vid" width="100%" autoplay loop muted>
            <source th:src="@{/video/bg.mp4}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <script>
            document.getElementById('vid').play();
        </script>
    </div>
    
    <div class="reserve-flight">
        <!-- -passangers
        -from
        -to 
        -start date
        -round -->
        <form th:action="@{/rents/next}" method="POST" class="form" th:object="${rent}">
            <div class="from_to">
                <input class="flight-btn" th:field="*{destinationFrom}" name="destinationFrom" id="destinationFrom" type="text" required placeholder="BGD">
                <span th:if="${#fields.hasErrors('destinationFrom')}" th:errors="*{destinationFrom}" th:class="help-block">From Destination Errors</span>

                <div class="from_arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z"/></svg>
                </div>

                <input class="flight-btn" th:field="*{destinationTo}" name="destinationTo" id="destinationTo" type="text" required placeholder="NYC">
                <span th:if="${#fields.hasErrors('destinationTo')}" th:errors="*{destinationTo}" th:class="help-block">To Destination Errors</span>
            </div>
            <div class="flight_info_desc">
                <label for="dateStart">Start date</label>
                <input class="flight-btn" th:field="*{dateStart}" name="dateStart" id="dateStart" type="date" required>
                <span th:if="${#fields.hasErrors('dateStart')}" th:errors="*{dateStart}" th:class="help-block">Start Date Errors</span>

                <label for="passengers">Number of Passengers</label>
                <input class="flight-btn" th:field="*{passengers}" name="passengers" id="passengers" type="text" required>
                <span th:if="${#fields.hasErrors('passengers')}" th:errors="*{passengers}" th:class="help-block">Passengers Errors</span>

                <label for="isRoundTrip">Round Trip</label>
                <select th:value="*{roundTrip}" th:field="*{roundTrip}" name="isRoundTrip" id="isRoundTrip" class="flight-btn">
                    <option selected="selected" value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="home_flight_selection">
                <button type="submit">RESERVE FLIGHT</button>
            </div>
        </form>
    </div>
    
    <div class="steps">
        <div class="step_item"><h1>1</h1>Define Trip</div>
        <div class="step_item"><h1>2</h1>Choose Plain</div>
        <div class="step_item"><h1>3</h1>Fly Away</div>
    </div>

    <h1 style="text-align: center;">Fly Travel</h1>

    <div class="home-container">

        <div class="home_item">
            <img src="img/flight_img_plane_3.png" alt="">
            <h1>Our fleet</h1>
            <p>
                FlyTravel gives you access to a global fleet of more than 7,000 private charter aircraft.
            </p>
        </div>

        <div class="home_item">
            <img src="img/flight_img_place_1.png" alt="">
            <h1 style="margin-top: -19px;">Travel worldwide</h1>
            <p>
                Worldwide travel both for business and fun. Book your flight today.
            </p>
        </div>

        <div class="home_item">
            <img src="img/flight_img_crew_1.png" alt="">
            <h1 style="margin-top: -19px;">Our experts</h1>
            <p>
                Our team stands at your service 24/7 for private jet flight prices and advice.
            </p>    
        </div>

    </div>

    <div class="testimonials">

    </div>

    <footer class="footer">
        <ul class="soc-media">
            <li>
                <a href="#">
                    <img src="/icons/facebook.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/icons/youtube.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/icons/linkedin.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/icons/twitter.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/icons/instagram.svg" alt="">
                </a>
            </li>
        </ul>
        <!-- <div class="phone">
            <h3>Contact us </h3>
            <p>hello@flytravel.com</p>
        </div> -->
        <div class="terms">
            <p>
                © Copyright 2020 FlyTravel Global Inc.
            </p>
        </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/toastr.js"></script>
    <th:block th:if="${isAdmin != null}">
        <script>toastr.info("You can't create reservation as ADMIN");</script>
    </th:block>
</body>
</html>