<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{main.css}" href="../static/main.css">
</head>
<body>

    <div class="signup_wrapper">
        <form action="" class="form">
            <img th:src="@{/img/logo.png}" alt="" class="logo_form">
            <h1>Fly Airlines</h1>
            <label for="username">Username</label>
            <input name="username" type="text">
            <label for="email">Email</label>
            <input name="email" type="text">
            <label for="pass">Password</label>
            <input name="pass" type="password">
            <label for="passretype">Retype Password</label>
            <input name="passretype" type="password">
            <label for="phone">Phone</label>
            <input name="phone" type="text">
            <br>
            <button class="btn" type="submit">Sign Up</button>
            <a class="link" href="">Cancel</a>
        </form>
    </div>

</body>
</html>